@page "{type}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Something went wrong with the request!</h2>

@if (this.Model.ShowRequestId)
{
<p>
    <strong>Error request ID:</strong> <code>@this.Model.RequestId</code>
</p>
}

<h3>Error Type: @this.Model.ErrorType</h3>
<p>
    @this.Model.Message
</p>